XYZ_GameJam_Project/Binaries/
XYZ_GameJam_Project/.vs/
XYZ_GameJam_Project/.idea
XYZ_GameJam_Project/DerivedDataCache/
XYZ_GameJam_Project/Intermediate/
XYZ_GameJam_Project/Saved/
XYZ_GameJam_Project/XYZ_GameJam_Project.sln
